---
import { icon, library } from '@fortawesome/fontawesome-svg-core';
import { sidebarEmployeeNav, sidebarPatientNav, sidebarOfficeNav } from '../nav';
import SidebarSections from './SidebarSections.astro';

const icons = new Map();
const allItems = sidebarPatientNav.concat(sidebarEmployeeNav);
allItems.forEach((nav) => {
	library.add(nav.icon);

	icons.set(
		nav.title,
		icon({
			prefix: 'fas',
			iconName: nav.icon.iconName,
		}),
	);
});
---
<h1 class="ml-4 text-xs text-teal-600">Clinic</h1>
<SidebarSections items={sidebarPatientNav} />
<hr/>
<h1 class="ml-4 text-xs text-teal-600">Team</h1>
<SidebarSections items={sidebarEmployeeNav} />
<hr/>
<h1 class="ml-4 text-xs text-teal-600">Logistics</h1>
<SidebarSections items={sidebarOfficeNav} />
