---
import { icon, library } from '@fortawesome/fontawesome-svg-core';
import  type { SidebarNavItem } from '../constants';

type Props = {
	items: SidebarNavItem[];
};

const { items } = Astro.props;

const icons = new Map();
items.forEach((nav) => {
	library.add(nav.icon);

	icons.set(
		nav.title,
		icon({
			prefix: 'fas',
			iconName: nav.icon.iconName,
		}),
	);
});

const path = new URL(Astro.request.url).pathname;
---

{
	items.map((item) => (
		<li class={`${item.href && path.includes(item.href) ? 'bg-teal-100 activated' : ''}  w-full rounded-lg hover:bg-teal-100`}>
			<a
				href={item.href}
				class="text-base flex text-gray-900 rounded-lg flex-row items-center py-1 group transition duration-75 pl-2 dark:text-gray-200 dark:hover:bg-gray-700"
			>
				<div class="w-4 h-4 ml-5 mt-1 mx-1 text-teal-500">
					<Fragment set:html={icons.get(item.title).html} />
				</div>
				<div class="mt-1 ml-4">{item.title}</div>
			</a>
		</li>
	))
}
