---
import FooterStacked from './FooterStacked.astro';
import LayoutCommon from './LayoutCommon.astro';
import NavBarStacked from './NavBarStacked.astro';

const { title, description } = Astro.props;
---

<LayoutCommon {title} {description}>
	<NavBarStacked />

	<div class="flex pt-16 place-content-center overflow-hidden w-full  dark:bg-gray-900">
		<div
			id="main-content"
			class="relative w-full max-w-screen-2xl h-full overflow-y-auto  dark:bg-gray-900 min-h-screen"
		>
			<div class="pt-6 w-full bg-white">
				<slot />
			</div>
		</div>
	</div>
	<div class="mx-auto">
		<FooterStacked />
	</div>
</LayoutCommon>
