---
import LayoutSidebar from '../../app/LayoutSidebar.astro';
import PaperEntry from '../../lib/enhancements/paper-entry.astro';
import CrudNTT from '../../modules/CrudNTT.astro';

export const prerender = false;

const slug = Astro.url.pathname;
console.log("hello", slug);
---

<LayoutSidebar>
	<PaperEntry>
		<div class="-ml-7 -mt-6">
		<CrudNTT />
		</div>
	</PaperEntry>
</LayoutSidebar>
