---
import LayoutCrud from '../../app/LayoutCrud.astro';
import DataGrid from '../../lib/core/DataGrid.svelte';
import PostItCello from '../../lib/enhancements/post-it-cello.astro';
import PostIt from '../../lib/enhancements/post-it.astro';

export const prerender = false;

const { slug } = Astro.params;
---

<LayoutCrud>

	<DataGrid client:only="svelte"/>

	<div class="flex">
		<div class="container mx-24 w-32 h-auto">
			<PostIt message={slug}/>
		</div>
		<div class="container mx-24 w-32 h-auto">
			<PostItCello/>
		</div>
		<div class="container mx-24 w-32 h-auto">
			<PostIt message="Hello There!"/>
		</div>
		<div class="container mx-24 w-32 h-auto">
			<PostItCello/>
		</div>
	</div>
</LayoutCrud>
