<p class="my-10 text-sm text-center text-gray-500">
	&copy; 2020 - {new Date().getFullYear()} —
	<a href="https://gitasp.app/" class="hover:underline" target="_blank"
		>gitasp.app</a
	>. All rights reserved.
</p>
